// Viewports
@mobile-width:320px;
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

//Fonts
@basic-font: "Roboto", Arial, Helvetica, sans-serif;

//Wrapper
@container-size: 1200px;

//Colors
@dark-grey: #283136;

//Theme Colors
@basic-text-color: @dark-grey;
@basic-heading-color: #000000;
